body{
    background-color: #734ae8;
    background-color: #9921e8;
    background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
}

.jumbotron{
    background-color: inherit;
    color: black;
    text-align: center;
}
.jumbotron p{
    font-size: small;
    font-style: italic;
}
.jumbotron hr{
    width: 20%;
}

.form-block{
    width: 30%;
    margin-left: 35%;
    background-color: lightblue;
    border-radius: 15px;
    padding: 2%;
}